.Accounts {
    .MobileAccounts {
        display: block;
        @media screen and (min-width: 900px) {
            display: none;
        }
    }
    .DesktopAccounts {
        display: none;
        @media screen and (min-width: 900px) {
            display: block;
        }
    }

}