.HomePageContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        display: none;
    }

    a {
        font-weight: 500;
        color: $secondary-400;
    }

    h6 {
        line-height: 23px;
        color: $grays-500;
        padding-bottom: 20px;
    }

    h3 {
        padding-bottom: 30px;
    }

    p {
        padding-bottom: 20px;
        font-weight: 700
    }

    .Alibaba {
        padding-bottom: 50px;
    }

}

@media only screen and (min-width: 900px) {
    .HomePageContent {

        // line-height: 250px;
        img {
            display: block;
            width: 392px;
            height: 283px;
        }

        h6 {
            line-height: 35px;
        }

        .desktop{
            display: flex;

            .index{            
                width: 170%;
                font-size: 0.875rem;
                font-weight: 400;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .HomePageContent {

        // line-height: 250px;
        img {
            display: block;
            width: 392px;
            height: 283px;
        }

        h6 {
            line-height: 35px;
        }

        .desktop{
            display: flex;

            .index{            
                width: 149%;
                font-size: 0.875rem;
                font-weight: 400;
            }
        }
    }
}