.InstallApplication {
    .header {
        padding: 5px 0px 0px 0px;
        border-bottom: solid 1px rgba(0, 0, 0, .12);
        box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);

        .logo {
            padding-right: 15px;
            display: flex;
            align-items: center;

            @media screen and (min-width:930px) {
                gap: 5px;
            }

            .alibabaIr {
                display: none;

                @media screen and (min-width:930px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        .items {
            display: flex;
            align-items: center;
            gap: 20px;

            @media screen and (min-width:930px) {
                padding-left: 25px;
            }

            .item {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    color: $grays-500;
                    gap: 3px;
                    padding: 10px 10px;

                    &:hover {
                        background-color: #f8fafb;
                        border-radius: 10px;
                    }
                }
            }

            .login {
                // h1,h2,h3,h4,h5,h6,p,span{
                //     // color: aqua;
                // }
                position: relative;
                z-index: 10;

                .number {
                    display: none;

                    @media screen and (min-width:930px) {
                        display: inline;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background-color: transparent;
                    padding: 10px 10px;

                    &:hover {
                        background-color: #f8fafb;
                        border-radius: 10px;

                    }

                    .user {
                        position: relative;
                        color: $grays-500;

                        .tick {
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            color: $success-400;
                            left: 18px;
                        }
                    }

                    .subMenuLogin {
                        position: relative;
                        transition: 1s;

                        // background-color: $white;
                        .subMenu {
                            display: flex;
                            flex-direction: column;
                            width: 15rem;
                            position: absolute;
                            top: 35px;
                            left: 0px;
                            height: auto;
                            border-radius: 8px;
                            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.12);

                            @media screen and (min-width:930px) {
                                // justify-content: space-around;
                                left: -10px;
                            }

                            .information {
                                border-top-right-radius: 8px;
                                border-top-left-radius: 8px;
                                padding: 15px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 10px;
                                background-color: rgb(248, 250, 251);

                                .number {
                                    color: $grays-700;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                }

                                .point {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;

                                    h5 {
                                        font-weight: 900;
                                    }

                                    svg {
                                        color: rgb(253, 183, 19);
                                    }
                                }

                                .money {
                                    display: flex;
                                    align-items: center;

                                    .rightMoney {
                                        display: flex;
                                        gap: 10px;
                                        padding-left: 90px;

                                        h5 {
                                            font-weight: 900;
                                        }
                                    }

                                    .buttonOfMoney {
                                        display: flex;

                                        button {
                                            padding: 2px 5px;
                                            color: $secondary-400;
                                            font-size: 0.75rem;

                                            &:hover {
                                                background-color: $secondary-100;
                                                border: 1px solid $secondary-200;
                                            }
                                        }
                                    }
                                }
                            }

                            .others {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                // padding-top: 15px;
                                // padding-right: 15px;
                                // gap: 15px;

                                .itemsOthers {
                                    // padding-right: 15px;
                                    display: flex;
                                    flex-direction: column;
                                    color: $grays-500;

                                    .itemOthers {
                                        padding-top: 15px;
                                        padding-bottom: 15px;
                                        padding-right: 15px;
                                        width: 105%;
                                        display: flex;
                                        align-items: center;
                                        background-color: $white ;

                                        // padding: 7.5px 40px;
                                        &:hover {
                                            background-color: $grays-100;
                                            // border-radius: 8px;
                                            // width: 107%;
                                        }
                                    }

                                    .borderBottomItem {
                                        width: 220px;
                                        margin-right: 8px;
                                        height: 1px;
                                        background-color: rgba(0, 0, 0, 0.12);
                                        // margin-top: 10px;

                                    }

                                    &:last-child {
                                        .borderBottomItem {
                                            background-color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width:930px) {
            // justify-content: space-around;
            gap: 65%;
            padding: 10px 0px;
        }
    }

    .body {
        .Top {
            .ApplicationAliBaba {
                padding-bottom: 48px;

                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-top: 30px;

                    h1 {
                        padding-bottom: 10px;

                        @media screen and (min-width : 930px) {
                            padding-bottom: 20px;

                        }
                    }

                    h6 {
                        padding-bottom: 10px;

                        @media screen and (min-width:930px) {
                            font-size: 1rem;
                        }
                    }
                }

                .image {
                    width: 228px;
                    height: 295px;
                    margin: 0 auto;

                    @media screen and (min-width:930px) {
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        justify-content: center;
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                        gap: 8rem;
                    }

                    .imageMobile {
                        img {
                            @media screen and (min-width:930px) {
                                width: 526px;
                                height: 679px;
                            }
                        }

                    }

                    .imageDesktop {
                        display: none;

                        .rightDesktopImage {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background-color: $primary;
                            padding: 12px;
                            border-radius: 1rem;

                            img {
                                background-color: #f8fafb;
                                padding: 12px;
                                border-radius: 0.25rem;
                            }

                            p {
                                padding-top: 12px;
                            }
                        }

                        .or {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            width: 100%;

                            .rightBorder {
                                min-width: 42%;
                                height: 1px;
                                background-color: rgba(0, 0, 0, .12);
                            }

                            .leftBorder {
                                min-width: 42%;
                                height: 1px;
                                background-color: rgba(0, 0, 0, .12);
                            }
                        }

                        .HintInstall {
                            .button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 auto;

                                button {
                                    background-color: $secondary-400;
                                    color: $white;
                                    font-size: 1rem;
                                    border-radius: 8px;
                                    padding: 12px 20px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }

                        @media screen and (min-width:930px) {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 20px;
                        }
                    }
                }

                .itemsDownload {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    @media screen and (min-width:930px) {
                        display: none
                    }

                    .itemDownload {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 10px;
                        background-color: $grays-600;
                        width: 95%;
                        color: white;
                        padding: 12px 24px 12px 0px;
                        border-radius: 8px;

                        svg {
                            color: #f8fafb;
                        }

                        img {
                            // background-color:$grays-600;
                            z-index: 0;
                            // color: black;
                            width: 32px;
                            height: 32px;
                            color: #f8fafb;
                        }
                    }
                }
            }

            .download {
                .ios {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 32px;

                    p {
                        cursor: pointer;
                        color: $secondary-400 ;
                    }

                    @media screen and (min-width:930px) {
                        display: none;
                    }
                }

                .ItemsDownloadIos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    padding-bottom: 32px;

                    .ItemDownloadIos {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 10px;
                        background-color: $grays-600;
                        width: 95%;
                        color: white;
                        padding: 12px 24px 12px 0px;
                        border-radius: 8px;

                        svg {
                            color: #f8fafb;
                        }

                        img {
                            // background-color:$grays-600;
                            z-index: 0;
                            // color: black;
                            width: 32px;
                            height: 32px;
                            color: #f8fafb;
                        }
                    }
                }

                .success {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    padding-right: 35px;


                    .itemSuccess {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .image {
                            width: 70px;
                            height: 52px;

                            @media screen and (min-width:900px) {
                                width: 116px;
                                height: 100px;
                            }
                        }

                        .des {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            width: 63%;

                            h2 {
                                font-family: AliBaba;
                                font-size: 24px;
                                font-weight: 700;
                            }

                            @media screen and (min-width:930px) {
                                align-items: center;
                                width: 100%;

                                h5 {
                                    font-size: 1rem;
                                }

                                h2 {
                                    font-size: 32px;
                                }
                            }
                        }

                        @media screen and (min-width:930px) {
                            flex-direction: column;
                        }
                    }

                    @media screen and (min-width:930px) {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        // gap: 15px;
                        // padding-right: 20px;
                        // padding-left: 25px;
                        // padding-top: 20px;
                    }
                }
            }
        }

        .Bottom {
            margin-top: 64px;

            .informations {

                // padding: 32px 0px;
                .information {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    gap: 32px;

                    &:nth-child(2) {
                        padding-right: 10px;
                    }

                    &:nth-child(odd) {
                        background-color: rgb(248, 250, 251);
                    }

                    .title {
                        padding-top: 32px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        // margin-top: 32px;
                    }

                    .imageInstall {
                        width: 304px;
                        height: 302px;
                    }

                    .sub {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        width: 97%;
                        padding-bottom: 32px;

                    }

                    @media screen and (min-width:930px) {
                        display: none;
                    }
                }
            }

            .informationsDesktop {
                display: none;

                .informationDesktop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;

                    &:nth-child(even) {
                        flex-direction: row-reverse;
                    }

                    &:nth-child(odd) {
                        background-color: rgb(248, 250, 251);
                    }

                    .titleDesktop {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 25px;
                        // &:nth-child(odd){
                        //     padding-left: 50px;
                        // }
                        // &:nth-child(even){
                        //     padding-right: 50px;
                        // }
                    }

                    .imageInstallDesktop {
                        width: 470px;
                        height: 570px;
                        padding: 50px 0px 50px 0px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                }

                @media screen and (min-width:930px) {
                    display: block;
                }
            }

            .servicesInstall {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 32px;
                padding: 50px 8px 150px 8px;

                .serviceInstall {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 24px;

                    img {
                        width: 70px;
                        height: 60px;

                        @media screen and (min-width:930px) {
                            width: 118px;
                            height: 100px;
                        }
                    }

                    .desInstall {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        width: 67%;
                        gap: 5px;

                        @media screen and (min-width:930px) {
                            width: 100%;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                        }

                    }

                    @media screen and (min-width:930px) {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }

                @media screen and (min-width:930px) {
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            .app {
                background-color: rgb(248, 250, 251);

                .ApplicationAliBaba {
                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding-top: 30px;

                        h1 {
                            padding-bottom: 20px;
                            font-size: 20px;
                            font-weight: 700;
                        }

                        h6 {
                            padding-bottom: 40px;
                        }
                    }

                    .image {
                        width: 228px;
                        height: 295px;
                        margin: 0 auto;
                    }
                }

                .button {
                    // width: 90%;
                    padding: 32px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;

                    button {
                        width: 96%;
                        background-color: $secondary-400;
                        color: $white;
                        font-size: 1rem;
                        border-radius: 8px;
                        padding: 12px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                @media screen and (min-width:930px) {
                    display: none;
                }
            }

            .AppDesktop {
                display: flex;
                // align-items: center;
                // justify-content: center;
                gap: 32px;
                margin: 0 auto;
                padding-right: 10%;
                padding-bottom: 75px;

                .AnroidDesktop {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    width: 30%;

                    h3 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .ItemAnroidDesktop {
                        display: flex;
                        align-items: center;
                        background-color: $grays-600;
                        border-radius: 8px;
                        gap: 10px;
                        padding: 12px 24px;
                        color: #f8fafb;

                        img {
                            width: 32px;
                            height: 32px;
                        }

                        &:last-child {
                            display: none;
                        }
                    }
                }

                .IosDesktop {
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    text-align: center;

                    h3 {
                        padding-bottom: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // margin-right: 195px;
                        padding-right: 197px;
                    }

                    .ItemsIosDesktop {
                        width: 350%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .ItemIosDesktop {
                            display: grid;
                            grid-template-columns: repeat(2, 20%);
                            grid-template-rows: repeat(3, 30%);
                            gap: 10px;

                            .content {
                                display: flex;
                                align-items: center;
                                background-color: $grays-600;
                                color: #f8fafb;
                                padding: 12px 24px;
                                gap: 10px;
                                border-radius: 8px;

                                img {
                                    width: 32px;
                                    height: 32px;
                                }

                                &:last-child {
                                    display: none;
                                }
                            }

                            @media screen and (min-width:1000px) {
                                grid-template-columns: repeat(2, 22.5%);
                                grid-template-rows: repeat(3, 30%);
                            }

                            // @media screen and (min-width:1150px) {
                            //     grid-template-columns: repeat(2, 24%);
                            //     grid-template-rows: repeat(3, 30%);
                            // }

                            @media screen and (min-width:1260px) {
                                grid-template-columns: repeat(2, 25%);
                                grid-template-rows: repeat(3, 30%);
                            }

                            @media screen and (min-width:1350px) {
                                grid-template-columns: repeat(2, 32.5%);
                                grid-template-rows: repeat(3, 30%);
                            }
                        }
                    }
                }

                display: none;

                @media screen and (min-width:930px) {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

}