.services {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.08);
  margin: 0px auto 2rem auto;
  z-index: 20;
  background: #fff;
  padding: 0.5rem 0 2.25rem;
  width: 100%;
  display:none;
 
  .top-services {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 24px;
    ul {
      @include flex();
      list-style: none;
      
      .active{
        div{
            display: inline !important;
        }
        a{
            color: $secondary-400;        
        }
      }
      li {
        position: relative;
        width: 100%;
        @include flex(column, flex-start, center);
        padding: 8px 24px;
        color: $grays-500;
        cursor: pointer;
        .border-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        transition: all 1s;
        height: 5px;
        width: calc(100% - 30px);
        border-radius: 10px 10px 0 0;
        background: $secondary-400;
        margin: 0 15px;
        display: none;
      }
      
        a {
          @include flex(column, flex-start, center);
        }
        p {
          white-space: nowrap;
        }
      }
    }
  }
  .bottom-services {
    padding: 0 36px;
    height: 106px;
    .top-bottom-services{
      height:34px;
      .body-btns-services{
        // @include flex(row,flex-start,center);
        display: flex;
        width: 100%;
      }
      margin-bottom:24px;
      .btn-services{
        @include flex();
        width: fit-content;
        height: 34px;
        padding: 4px 16px 4px 8px ;
        white-space: nowrap;
        border-radius: 9999px;
        background-color: #fff;
        font-size: .875rem;
        font-weight: 500;
        color: $grays-400;
        margin-left: 8px;
        line-height: 1rem;
        border: 1px solid rgba(0, 0, 0, .12);
        cursor: pointer;
        p{
          margin-left: 4px;
          color: $grays-500;
          font-size: .875rem;
          font-weight: 500;
          &.new{
            position: relative;
            &::after{
              position: absolute;
              left: -30px;
              top:-24px;
              content:'جدید';
              background-color: $success-300;
              font-size: .875rem;
              color: #0a0b0c;
              padding: 3.5px 10px;
              border-radius: 10px;
            }
          }
        }
        
        svg{
          color: $grays-500;
          font-size: .875rem;
          font-weight: bold;
          line-height: 1rem;
        }
      }
    }
    .bottom-bottom-services{

    }
  }
}
