.ButtonSearch {
    width: 187px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $primary;
    &:hover{
        background-color: $primary-dark;
    }
}