.Search {
  width: 100%;
  height: 48px;
  position: relative;
  padding: 0 8px;
  border-radius: 8px 0 0 8px;
  z-index: 10;
  input {
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 1rem;

    &:focus {
      ~ label {
        transform: translate(0px, -22px) scale(0.675);
        padding: 9px 12px 9px 16px;
        z-index: 1;
      }
    }
  }
  .labelfix {
    transform: translate(0px, -22px) scale(0.675);
    padding: 9px 12px 9px 16px !important;
    z-index: 1;
    background: #fff !important;
    top: 1px;
  }
  label {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    color: $grays-300;
    font-size: 1rem;
    transition: all 0.4s;
    transform: translate(-10px, 10px) scale(1);
    background: #fff;
    z-index: -1;
    white-space: nowrap;
  }
}

.border-width100 {
  border: 1px solid $grays-200;
  width: calc(40% - 8px);
  margin-left: 8px;
  border-radius: 8px;
}
