.main-why-alibaba {
  h2 {
    margin: 35px 0 12px 0;
    font-size: 1.728em;
    color: $white;
    font-weight: 700;
  }
  p {
    margin-bottom: 27px;
    color: $white;
    font-size: 1.286em;
  }
  ul {
    margin: 2em 0px;
    padding-right: 40px;
    margin-top: 70px;
    line-height: 1.8;
    li {
      margin-bottom: 1em;
      color: rgb(43, 47, 51);
      a {
        color: $secondary-400;
      }
    }
  }

  margin-top: -150px !important;
  position: relative;
  z-index: 10000;
  @media (max-width: 900px) {
    margin-top: -280px !important;
  }
}
.bg-why-alibaba {
  position: relative;
  height: 415px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../public/assets/image/WhyAlibaba/new-hero-image.jpg");
  background-color: transparent;
  img {
    height: 100%;
  }
  .bg-dark-why-alibaba {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(transparent, #000);
    z-index: 10;
  }
}

.why-alibaba:not(.DesktopHeader) {
  background-color: rgb(245, 245, 245);
}
