.main{
    padding: 120px 16px 0 16px;
    width:100%;
    max-width: 980px; 
    margin: 0px auto 0 auto;
}
.center{
   padding: 120px 16px 0 16px;
    width:100%;
    max-width: 980px; 
    margin: 0px auto 0 auto;
}