$white: #FFF;
$black: #000;
$primary: #FDB713;
$primary-light: #FFE19C;
$primary-dark: #E3A107;
$secondary-100: #F2F9FF;
$secondary-200: #C9E3F8;
$secondary-300: #51A2E7;
$secondary-400: #0077DB;
$secondary-500: #00569E;
$secondary-600: #004075;
$secondary-700: #001C33;
$success-100: #EAFAEE;
$success-300: #84E199;
$success-400: #28A745;
$success-500: #1E7B33;
$success-700: #11461D;
$warning-100: #FFF5E5;
$warning-300: #FFCE85;
$warning-400: #FF9800;
$warning-500: #A85D00;
$warning-700: #4D2800;
$info-100: #E8F9FC;
$info-300: #A0E8F3;
$info-400: #17A2B8;
$info-500: #0F697A;
$info-700: #072F36;
$danger-100: #FDF2F3;
$danger-300: #F2B5BB;
$danger-400: #DC3545;
$danger-500: #871722;
$danger-700: #410B10;
$grays-100: #F8FAFB;
$grays-150: #E2E6E9;
$grays-200: #BEC6CC;
$grays-300: #959EA6;
$grays-400: #6C7680;
$grays-500: #4B5259;
$grays-600: #2B2F33;
$grays-700: #0A0B0C;