@media (min-width: 768px) {
  footer {
    .footer-mobile {
      display: none;
    }
    .footer-desktop {
      margin-bottom: 0;
      .top-footer-desktop {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .main-d-top-footer-desktop {
          @include flex();
          max-width: 948px;
        }
      }
      .middle-footer-mobile {
        display: none;
      }
      .middle-footer-desktop {
        display: flex;
      }
      .bottom-footer-desktop {
        display: flex;
        max-width: 948px;
        .locations {
          margin-top: -110px;
        }
      }
    }
  }
  .your-question {
    margin: 32px auto 48px auto;
    h2 {
      margin-bottom: 19.92px;
      font-size: 1.5rem;
    }
    .main-your-question {
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      .item-your-question {
        border-radius: 0;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin-top: 0;
        .head-your-question {
          div {
            h4 {
              font-size: 1rem;
            }
          }
        }
        .body-your-question {
          p {
            font-size: 1rem;
          }
        }
        label {
          .head-your-question {
            padding: 16px;
          }
        }
        input:checked {
          ~ .body-your-question {
            max-height: 300px;
          }
        }
        :last-child {
          border-bottom: none;
        }
      }
    }
  }

   .content-bus .list-blit-bus{
    @include flex(row,space-between,center);
  }
}
@media (min-width: 992px) {
  footer {
    .footer-desktop {
      .top-footer-desktop {
        div {
          .d-top-footer-desktop {
            img {
              width: 89px;
              height: 89px;
              margin-left: 16px;
            }
            div {
              text-align: start;
              h3 {
                color: $grays-500;
                font-size: 1rem;
                margin-bottom: 8px;
              }
              p {
                color: $grays-400;
                font-size: 0.875rem;
              }
            }
          }
        }
      }
      .middle-footer-desktop {
        .top-middle-footer-desktop {
          .d4-top-middle-footer-desktop {
            width: 450px;
          }
        }
      }
      .bottom-footer-desktop {
        .locations {
          margin-top: -90px;
        }
      }
    }
  }
  .your-question {
    max-width: 992px;
  }

  .main {
    width: 1200px;
    padding: 0 16px;
    margin-top: -76px;
  }
  .center {
    width: 1200px;
    padding: 0 16px;
  }

}
@media (min-width: 900px) {
  .main {
    padding: 0 16px;
    margin-top: -76px;
  }
  .bg-services {
    display: flex;
  }
  .services {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  footer {
    .footer-desktop {
      .top-footer-desktop {
        max-width: 1168px;
        @include flex(row, space-between, center);
        .main-d-top-footer-desktop {
          max-width: 1168px;
          @include flex(row, space-between, center);
          padding: 32px 0;
        }
      }
      .middle-footer-desktop {
        max-width: 1168px;
        .top-middle-footer-desktop {
          .d4-top-middle-footer-desktop {
            min-width: 560px;
          }
        }
      }
      .bottom-footer-desktop {
        max-width: 1168px;
        .locations {
          margin-top: -30px;
        }
        .d1-bottom-footer-desktop {
          p,
          span {
            white-space: nowrap;
          }
        }
      }
    }
  }
  .content-bus .companys{
    overflow: hidden;

  }
  .your-question {
    max-width: 1200px;
    padding: 0;
    .main-your-question {
      .item-your-question {
        .body-your-question {
          p {
            padding: 16px 60px;
          }
        }
      }
    }
  }
  .main {
    min-width: 1200px;
    padding: 0 16px;
  }
  .center {
    min-width: 1200px;
    padding: 0 16px;
  }
  .services {
    .top-services {
      ul {
        padding: 0 85px;
      }
    }
    .bottom-services {
      form {
        .bottom-bottom-services {
          .options-services {
            .d-options-services {
              &:nth-child(1) {
                width: 457px;
              }
              &:nth-child(2) {
                width: 274px;
              }
              &:nth-child(3) {
                width: 182px;
              }
              &:nth-child(4) {
                width: 187px;
                div,
                button {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .ButtonSearch {
    width: 187px;
  }
  .btns-ejare-vila {
    .btn-ejare-vila {
      width: 186px;
    }
  }
  .boxs-vila {
    .body-boxs-vila {
      .box-vila {
        img {
          height: 240px;
        }
      }
    }
  }
  .slider-reserve-vila {
    .col-slider-reserve-vila {
      min-width: 292px;
      .item-slider-reserve-vila {
        img {
          max-width: 96px;
        }
      }
    }
  }
}
